* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 1440px;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 6rem;
  font-weight: 500;
  color: black;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
}

.hero {
  max-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content p {
  color: #a39daa;
  margin-right: 130px;
}

.app {
  background: white;
  width: 270px;
  height: 530px;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 0px 100px rgba(53, 53, 53, 0.219);
          box-shadow: 0px 0px 100px rgba(53, 53, 53, 0.219);
}

.app__inner {
  width: 250px;
  height: 510px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__inner__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(90deg, #8838ff, #e942ff);
  border-radius: 20px 20px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
}

.app__inner__header__curve {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px 20px 0px 0px;
}

.app__inner__header__content {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px 20px 20px 20px;
}

.app__inner__body {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: #f5f3f7;
  border-radius: 0px 0px 20px 20px;
}

.header__area1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-right: 10px;
}

.header__area1 i {
  color: white;
  font-size: 0.8rem;
}

.header__area2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__area2 img {
  width: 100%;
  max-height: 30px;
  border-radius: 50px;
  border: 2px solid white;
}

.header__area3 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 5px;
  margin-left: 5px;
  color: white;
}

.header__area3 h2 {
  font-size: 0.85rem;
  line-height: 0.8rem;
  font-weight: 700;
}

.header__area3 p {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: #d89eff;
}

.header__area4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__area4 i {
  color: white;
  font-size: 0.8rem;
}

.curve {
  background-color: white;
  width: 60%;
  height: 30px;
  margin: 0px auto;
  border-radius: 50px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.chat {
  margin: 5px 0px;
  min-height: 40px;
}

.chat p {
  font-size: 0.55rem;
  line-height: 0.9rem;
  font-weight: 500;
}

.chat__pop-left {
  color: #9b46d8;
  max-width: 60%;
  border-radius: 10px 10px 10px 0px;
  padding: 3px 20px 3px 10px;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0e0ff;
  -webkit-box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
          box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
}

.chat__pop-left p {
  color: #9b46d8;
}

.chat__pop-right {
  color: black;
  max-width: 60%;
  min-height: 35px;
  border-radius: 10px 10px 0px 10px;
  padding: 3px 30px 3px 10px;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
          box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
  margin-right: 10px;
  box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
}

.chat__pop-right p {
  color: #5f4e6e;
}

.chat-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pop-right__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
}

.chat__image img {
  height: 40px;
  width: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
          box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
}

.chat__image__item {
  margin-left: 8px;
}

.price__tab {
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(90deg, #8838ff, #e942ff);
  max-width: 75%;
  min-height: 35px;
  border-radius: 10px 10px 10px 0px;
  padding: 3px 10px 3px 10px;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
          box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__tab__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.price__tab__icon i {
  color: #d89eff;
}

.price__tab__content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.price__tab__content p {
  color: #d89eff;
}

.price__tab__price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.price__tab__price p {
  font-size: 1rem;
  color: white;
}

.move__margin {
  margin-top: -4px;
}

.drag__margin {
  margin-top: 4px;
}

.chat__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__box {
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: transparent;
}

.chat__box__inner {
  width: 95%;
  min-height: 35px;
  background-color: white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
          box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
}

.chat__box__inner__text-area {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.chat__box__inner__text-area p {
  font-size: 0.7rem;
  padding-left: 15px;
  color: #c6cacd;
}

.chat__box__inner__button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.chat__box__inner__button a {
  padding: 3px 8px;
  background-color: #3e2753;
  border-radius: 50px;
  color: white;
  -webkit-box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
          box-shadow: 0px 0px 2px rgba(187, 187, 187, 0.295);
  -webkit-box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
          box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.616);
}
/*# sourceMappingURL=styles.css.map */